extends layout

block content
    h1 Your results
    each genotype, i in genotypes
        if genotype.rs9939609 == 'AA'
            p <b>#{names[genotype.id]}</b> Your result indicate that you will lose weight with excercise.
        else if genotype.rs9939609 == 'AT'
            p <b>#{names[genotype.id]}</b> Your result indicate that you will lose some weight with excercise.
        else
            p <b>#{names[genotype.id]}</b> Your result indicate that you will NOT lose weight with excercise.
